In [10]:
import pandas as pd
import numpy as np

file =open("StudentsPerformance.csv","r")

In [16]:
df = pd.read_csv('StudentsPerformance.csv')
print(df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

In [32]:
df1 = df.groupby(["race/ethnicity","parental level of education"])["parental level of education"].count()
print (df1)

race/ethnicity  parental level of education
group A         associate's degree             14
                bachelor's degree              12
                high school                    18
                master's degree                 3
                some college                   18
                some high school               24
group B         associate's degree             41
                bachelor's degree              20
                high school                    48
                master's degree                 6
                some college                   37
                some high school               38
group C         associate's degree             78
                bachelor's degree              40
                high school                    64
                master's degree                19
                some college                   69
                some high school               49
group D         associate's degree             50
                bachelor's degree              28
                high school                    44
                master's degree                23
                some college                   67
                some high school               50
group E         associate's degree             39
                bachelor's degree              18
                high school                    22
                master's degree                 8
                some college                   35
                some high school               18
Name: parental level of education, dtype: int64

In [132]:
df["total_score"] = df["math score"]+df["reading score"]+df["writing score"]
df2 = df.groupby(["test preparation course","total_score","gender"])["total_score"].count()
df3 =df.groupby(["test preparation course","total_score","gender"])["total_score"].median()

In [133]:
df3

test preparation course  total_score  gender
completed                103          female    103
                         113          female    113
                         119          male      119
                         123          female    123
                         127          female    127
                                               ...
none                     289          female    289
                         290          female    290
                         292          female    292
                         297          female    297
                         300          female    300
Name: total_score, Length: 491, dtype: int64

In [117]:
df["total_score"].mean(axis = 0)

203.312

In [114]:
df2

test preparation course  total_score  gender
completed                103          female    1
                         113          female    1
                         119          male      1
                         123          female    1
                         127          female    1
                                               ..
none                     289          female    2
                         290          female    1
                         292          female    1
                         297          female    1
                         300          female    2
Name: total_score, Length: 491, dtype: int64